<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2025.2.2" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="ScriptHookVDotNet3" version="3.6.0" targetFramework="net481" />
  <package id="WithLithum.NativeWrapper" version="0.1.2" targetFramework="net481" />
</packages>